.dot-color-6 {
    background: url(../images/color/official-recommend/i.jpg) no-repeat center center;
}
.dot-color-a {
    background: url(../images/color/official-recommend/a.jpg) no-repeat center center;
}
.dot-color-b {
    background: url(../images/color/official-recommend/b.jpg) no-repeat center center;
}
.dot-color-c {
    background: url(../images/color/official-recommend/c.jpg) no-repeat center center;
}
.dot-color-d {
    background: url(../images/color/official-recommend/d.jpg) no-repeat center center;
}
.dot-color-e {
    background: url(../images/color/official-recommend/e.jpg) no-repeat center center;
}
.dot-color-f {
    background: url(../images/color/official-recommend/f.jpg) no-repeat center center;
}
.dot-color-g {
    background: url(../images/color/official-recommend/g.jpg) no-repeat center center;
}
.dot-color-h {
    background: url(../images/color/official-recommend/h.jpg) no-repeat center center;
}
.dot-color-j {
    background: url(../images/color/official-recommend/j.jpg) no-repeat center center;
}
.dot-color-2a {
    background: url(../images/color/brand-recommend/2a.jpg) no-repeat center center;

}
.dot-color-2b {
    background: url(../images/color/brand-recommend/2b.jpg) no-repeat center center;

}
.dot-color-2c {
    background: url(../images/color/brand-recommend/2c.jpg) no-repeat center center;

}
.dot-color-2d {
    background: url(../images/color/brand-recommend/2d.jpg) no-repeat center center;

}
.dot-color-3a {
    background: url(../images/color/brand-recommend/3a.jpg) no-repeat center center;

}
.dot-color-3b {
    background: url(../images/color/brand-recommend/3b.jpg) no-repeat center center;

}
.dot-color-4a {
    background: url(../images/color/brand-recommend/4a.jpg) no-repeat center center;

}
.dot-color-4b {
    background: url(../images/color/brand-recommend/4b.jpg) no-repeat center center;

}
.dot-color-5a {
    background: url(../images/color/brand-recommend/5a.jpg) no-repeat center center;

}
.dot-color-5b {
    background: url(../images/color/brand-recommend/5b.jpg) no-repeat center center;

}
.dot-color-6a {
    background: url(../images/color/brand-recommend/6a.jpg) no-repeat center center;

}
.dot-color-6b {
    background: url(../images/color/brand-recommend/6b.jpg) no-repeat center center;

}
.dot-color-6c {
    background: url(../images/color/brand-recommend/6c.jpg) no-repeat center center;

}
.dot-color-7a {
    background: url(../images/color/brand-recommend/7a.jpg) no-repeat center center;

}
.dot-color-7b {
    background: url(../images/color/brand-recommend/7b.jpg) no-repeat center center;

}
