html,
body,
header,
p,
h5,
h6{
    margin: 0;
    padding: 0;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", 微软雅黑, STHeiti, 华文细黑, sans-serif;
    font-size: 14px;
    color: rgb(102, 102, 102);
}
body {
    background-color: #ededed;
}
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", 微软雅黑, STHeiti, 华文细黑, sans-serif;
    font-size: 14px;
    color: rgb(102, 102, 102);
    transition: .2s linear;
}
.product-panel {
    position: relative;
    width: 305px;
    height: 429px;
    background-color: #fff;
    transition: .2s ease-out;
}
.product-panel-shadow {
    box-shadow: 0 0 38px rgba(0,0,0,.08) inset;

}
.product-panel img {
    position: absolute;
    top: 50px;
    left: 45.5px;
    display: block;
    width: 206px;
    height: 206px;
    transition: .15s  ease-out;
}
.product-panel .product-introduce {
    position: absolute;
    width: 100%;
    top: 274px;
    text-align: center;
}
.product-panel .product-introduce h6 {
    display: inline;
    margin: 0;
    line-height: 19px;
    font-size: 16px;
    font-weight: 400;
    color: #424242;
    cursor: pointer;
}
.product-panel .product-introduce p {
    margin-top: 7px;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
    color: #626262;
    cursor: pointer;
}
.product-panel .price {
    position: absolute;
    top: 376px;
    width: 100%;
    color: #de4037;
    text-align: center;
}
.product-panel .price i {
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}
.product-panel .price span {
    font-size: 18px;
    line-height: 20px;
}
.product-panel .dot-list {
    position: absolute;
    bottom: 79px;
    width: 100%;
    text-align: center;
}
.product-panel .dot-list>li {
    display: inline-block;
    margin: 0 6px;
    padding: 0;
    width: 16px;
}
.product-panel .dot-list .list .view {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 4px 0;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
}
.product-panel .dot-list .list .active {
    margin: 2px 0;
    border: 3px solid #b2b2b2;
    border-radius: 8px;
}
.product-panel .dot-list .list .view span {
    display: block;
    margin: 1px 1px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
}
/*.product-panel .dot-list .list1 .view span {
    background: url(images/color/1.jpg) no-repeat center center;
}
.product-panel .dot-list .list2 .view span {
    background: url(images/color/2.jpg) no-repeat center center;
}*/
.product-panel .operator {
    position: absolute;
    bottom: 29px;
    width: 100%;
    text-align: center;
    z-index: 20;
    transition: .2s  ease-out;
    opacity: 0;
}
.product-panel .operator .detail-btn{
    display: inline-block;
    width: 100px;
    height: 30px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 12px;
    color: #646464;
    background-color: #f9f9f9;
    text-align: center;
    line-height: 28px;
    box-sizing: border-box;

}
.product-panel .operator .detail-btn:hover {
    background-image: linear-gradient(#fff,#f9f9f9);
}
